---
import Base from '../layouts/Base.astro';
---
<Base title="404 Page Not Found">
<h2>404 Page Not Found</h2>
<a href="https://yeh.sh">auto redirecting to homepage...</a>
<meta http-equiv="refresh" content="8; url=https://yeh.sh" />
</Base>
