---
import Base from '../layouts/Base.astro';
---
<Base>
<div>
    <h1>Perry Yeh</h1>
    <p><a href="mailto:iATyeh.sh" rel="contact nofollow">@</a></p>
    <p><a href="https://blog.yeh.sh/" rel="me">blog</a></p>
    <p><a href="https://github.com/PerryYeh" rel="via nofollow" target="_blank">github</a></p>
    <p><a href="https://instagram.com/PerryYeh" rel="nofollow" target="_blank">instagram</a></p>
    <p><a href="https://twitter.com/PerryYeh" rel="nofollow" target="_blank">twitter</a><a href="https://t.me/PerryYeh" rel="chat nofollow">telegram</a></p>
    <p><a href="https://paypal.me/peryyeh" rel="nofollow" target="_blank">paypal</a><a href="https://userstyles.org/users/450687" rel="nofollow" target="_blank">stylish</a><a href="https://www.inyue.com/" target="_blank" title="Music Discover">inyue</a><a href="https://www.passid.org/" target="_blank" title="Password Generator">passid</a></p>
</div>
</Base>
